// .active{
//     display: block !important;
    // opacity: 1 !important;
// }

.rulesSection {
  width: 47%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 6rem auto;
  color: white;
  // font-family: "Monument Extended";
  .header {
    position: relative;
    margin-bottom: 48px;
    .bg-title-stoked {
      opacity: 0.6;
      width: 100%;
      position: relative;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
      @media (max-width : 460px) {
        opacity: 0;
      }
    }
    .ruleSectionTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: clamp(1.2rem , 10vw + .4rem , 2rem);
      transform: translate(-50%, -47%);
      white-space: nowrap;
    }
  }
  
  ul {
    width: 100%;
    max-width: 788px;
    margin: 1.5rem 0;
    li {
      border-bottom: solid thin rgba(white, 0.2);
      .faq {
        display: flex;
        padding: 12px 15px;
        font-family: "Monument Extended";
        justify-content: space-between;
        align-items: center;
        svg {
          fill: #fff !important;
          width: 1rem;
          height: 1.5rem;
        }
      }
      p {
        padding: 2px 15px 16px;
        // display: none;
        // opacity: 0;
        transition: all 0.3 ease-in-out;
        line-height: normal;
        letter-spacing: 0.02em;
        word-wrap: break-word;
        hyphens: auto;
        overflow-wrap: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        color: rgb(255, 255, 255 , 0.8);
        span{
          opacity : 0, ;
          pointer-events: "none";
          @media (max-width : 460px) {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .rulesSection {
    width: 80%;
  }
}
