.page_header {
  // border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 2rem;

  h1 {
    font-size: 3.8rem;
    font-weight: bolder;
    padding-bottom: 0.5rem;
    color: #65e065bd;
    font-family: "Kanit", sans-serif;
  }

  h3 {
    color: #d3d3d3c2;
    font-size: 1.2rem;
  }
}

.sorting {
  display: inline-block;
  background-color: rgba(59, 59, 59, 0.193);
  backdrop-filter: blur(64px) saturate(190%) brightness(70%);
  border: 1px solid rgba(255, 255, 255, 0.222);
  border-radius: 1rem;
  padding: 13px 10px;
  box-shadow: 2px 2px rgba(22, 22, 22, 0.2), 0 20px 25px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;

  .active_sort {
    background: #65e065aa;
    color: white;

    &:hover {
      color: white;
    }

    svg {
      path {
        fill: white;
      }
    }
  }

  .sort_btn {
    box-shadow: 0 0 4px 1px #272827;
    border: 1px solid rgba(255, 255, 255, 0.157);
    padding: 5px 1rem;
    margin: 0 0.5rem;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;

    svg {
      width: 1.1rem;
      display: inline;
    }

    &:hover {
      color: #a2fde3;

      svg {
        path {
          fill: #a2fde3;
        }
      }
    }
  }
}

@media (max-width: 460px) {}