.countdown{
    margin: 4rem auto;
    text-align: center;
    .timerTitle{
        font-size: clamp(2.3rem, 6vw + .4rem , 3.19rem);
        text-transform: uppercase;
        line-height: 2.5rem;
        margin-bottom: 2rem;
    }
    .timer{
        display: flex;
        margin: 1rem auto;
        justify-content: center;
        background-color: rgba(85, 85, 85, 0.246);
        backdrop-filter: blur(16px);
        background-blend-mode: overlay;
        border-radius: 1rem;
        width: min(90%, 700px);
        border: 1px solid  rgba(255, 255, 255, 0.203);
        padding: 15px;
        .time-box{
            span{
                // display: block;
                span{
                    font-size: 1.5rem;
                }
            }
            .time{
                font-family: "Monument Extended";
                font-size: clamp(2rem, 6vw + 1rem , 5rem);
            }
        }
        .divider{
            font-size: 4rem;
        }

    }
}