.countdown{
    margin: 4rem auto;
    // border: 1px solid white;
    text-align: center;
    .timerTitle{
        font-size: clamp(2.746rem, 6vw + .4rem , 3.19rem);
        text-transform: uppercase;
        line-height: 2.5rem;
        margin-bottom: 2rem;
    }
    .timer{
        display: flex;
        margin: 1rem auto;
        justify-content: center;
        background-color: rgba(85, 85, 85, 0.246);
        backdrop-filter: blur(16px);
        background-blend-mode: overlay;
        border-radius: 1rem;
        width: min(90%, 700px);
        border: 1px solid  rgba(255, 255, 255, 0.203);
        padding: 15px;
        // gap: 1rem;
        .time-box{
            // border: 1px solid green;
            span{
                display: block;
            }
            .time{
                font-family: "Monument Extended";
                font-size: clamp(2.6rem, 6vw + 1.1rem , 5rem);
            }
            .unit{
                // font-size: 2rem;
                font-size: clamp(1.6rem, 6vw + .7rem , 3rem);
                font-family: "Poppins";
            }
        }
        .divider{
            font-size: 4rem;
            // border: 1px solid orange;
        }

    }
}