/* @media (max-width : 460px) {
    .main{
        padding: 15px;
    }
} */
.main{
    position: relative;
}
.main::after{
    content : "" ;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    position: absolute;
    /* background-image: url(../../assets/gallery-images/stars.png); */
    background-image: url(../../assets/gallery-images/stars002.png);
    background-repeat: repeat;
    background-size: 1000px;
    opacity: 0.9;
    }
