.outerCard {
  width: min(90%, 53rem);
  // border: 1px solid rgba(255, 255, 255, 0.364);
  aspect-ratio: 1.6;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  // position: relative;
  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: min(100vh, 800px);
    background: radial-gradient(at 27% 37%, #3a8bfd 0, transparent 50%),
      radial-gradient(at 97% 21%, #9772fe 0, transparent 50%),
      radial-gradient(at 52% 99%, #fd3a4e 0, transparent 50%),
      radial-gradient(at 10% 29%, #5afc7d 0, transparent 50%),
      radial-gradient(at 97% 96%, #e4c795 0, transparent 50%),
      radial-gradient(at 33% 50%, #8ca8e8 0, transparent 50%),
      radial-gradient(at 79% 53%, #eea5ba 0, transparent 50%);
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.39;
    filter: blur(102px);
  }

  .innerCard {
    // border: 1px solid rgba(210, 210, 210, 0.313);
    width: 96%;
    border-radius: inherit;
    // background-color: rgba(0, 0, 0, 0.191);
    // backdrop-filter: blur(32px) saturate(1.1) brightness(80%);
    h1 {
      text-align: center;
    }
    .header {
      position: relative;
      margin-bottom: 48px;
      .bg-title-stoked {
        opacity: 0.5;
        width: 55%;
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
      }
      .rewardsTitle {
        position: absolute;
        // font-size: 2.2rem;
        font-size: clamp(1.9rem, 6vh + 0.8rem, 2.3rem);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -47%);
        text-shadow: 3px 2px 5px black;
      }
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img {
        filter: hue-rotate(300deg);
      }
      .content {
        position: relative;
        ul {
          // border: 1px solid red;
          transform: translate(10%, 0);
          @media (min-width: 1024px) {
            :nth-child(1) {
              transform: translateX(1.3rem);
            }
            :nth-child(3) {
              transform: translateX(10px);
            }
          }

          li {
            margin-top: 2.2rem;
            font-family: "Poppins";
            font-size: 1.2rem;
            @media (min-width: 1024px) {
              margin-top: 3rem;
            }
          }
        }
      }
    }
  }
}

.rewardsSection {
  margin: 3rem auto;
}

@media (max-width: 460px) {
  .outerCard {
    .innerCard {
      .header {
        img {
          display: none;
        }
        .rewardsTitle {
          font-size: 2rem;
        }
      }
      .container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        .content {
          ul {
            transform: translateX(0);
            margin: 0.9rem auto;
            text-align: center;
            li {
              font-size: initial;
              transform: translateX(0);
            }
          }
        }
        .imageSection {
          width: 90%;
        }
      }
    }
  }
}
