.outerCard {
  width: min(90%, 53rem);
  border: 1px solid rgba(255, 255, 255, 0.364);
  aspect-ratio: 1.6;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  &::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(at 27% 37%, #3a8bfd 0, transparent 50%),
    radial-gradient(at 97% 21%, #9772fe 0, transparent 50%),
    radial-gradient(at 52% 99%, #fd3a4e 0, transparent 50%),
    radial-gradient(at 10% 29%, #5afc7d 0, transparent 50%),
    radial-gradient(at 97% 96%, #e4c795 0, transparent 50%),
    radial-gradient(at 33% 50%, #8ca8e8 0, transparent 50%),
    radial-gradient(at 79% 53%, #eea5ba 0, transparent 50%);
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.36;
    // filter: blur(64px);
    filter: blur(102px);
  }
  .innerCard {
    border: 1px solid rgba(210, 210, 210, 0.313);
    width: 96%;
    height: 94%;
    border-radius: inherit;
    backdrop-filter: blur(32px) saturate(1.1) brightness(80%);
    position: relative;
    z-index: 5;
    img{
      filter: hue-rotate(300deg);
    }
    &::after {
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      opacity: 0.7;
      background-image: url(../../assets/gallery-images/grid-lines-02.svg);
      mask-image: linear-gradient(130deg, black 40%, transparent);
    }
  }
}

.rewardsSection {
  margin: 3rem auto;
}
