.rewardsSection {
  margin: 8rem auto;
  .header {
    position: relative;
    .bg-title-stoked {
      opacity: 0.6;
      width: 45%;
      position: relative;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    .reawadsTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -47%);
      font-size: clamp(1.6rem, 6vw + .7rem , 3rem);
    }
  }
  .rewardCardsContainer {
    .cards {
      display: flex;
      gap: 1.7rem;
      width: 80%;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10rem;
      .card {
        perspective: 3000px;
        overflow: hidden;
        width: 90%;
        height: 400px;
        transform: translateZ(299px);
        color: white;
        border-radius: 17px;
        border-top: 1px solid rgba(255, 254, 251, 0.4);
        background-image: linear-gradient(
          0deg,
          hsl(153deg 66% 29%) 0%,
          hsl(154deg 64% 24%) 11%,
          hsl(147deg 20% 23%) 18%,
          hsl(344deg 0% 17%) 27%,
          hsl(360deg 1% 10%) 40%,
          hsl(0deg 38% 3%) 85%
        );

        .outerBorder {
          width: 100%;
          height: 100%;
          border-left: 1px solid rgba(255, 254, 251, 0.2);
          border-right: 1px solid rgba(255, 254, 251, 0.2);
          border-bottom: 1px solid rgba(255, 254, 251, 0.4);
          border-radius: 1 17px;
          filter: brightness(100%);
          // opacity: 0.4;
          .innerBorder {
            margin: 3.5% 3.5% 2.5% 3.5%;
            width: 93%;
            height: 94%;
            border-radius: 10px;
            border: 1px solid rgba(238, 238, 238, 0.224);
            background-color: rgba(47, 47, 47, 0.2);
            backdrop-filter:  blur(32px);
            background-blend-mode: overlay;
            box-shadow: var(--shadow-elevation-medium);
            // background-image: url(../../assets/gallery-images/grid-line.svg);

            z-index: 2;
            .topInfo {
              position: relative;
              h1 {
                font-family: "Monument Extended", "Poppins";
                text-align: center;
              }
              .numValue {
                font-size: 6rem;
                background-image: linear-gradient(
                  180deg,
                  hsl(153deg 66% 29%) 0%,
                  hsl(154deg 64% 24%) 21%,
                  hsl(147deg 20% 23%) 38%,
                  hsl(344deg 0% 17%) 47%,
                  hsla(0, 2%, 10%, 0.406) 60%,
                  hsla(0, 1%, 32%, 0) 85%
                );
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
              }
              .stringValue {
                opacity: 0.6;
                font-size: 1.8rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 0%);
              }
            }
          }
        }
      }
      .cardMain {
        position: relative;
        transform: translate(0, -25%);
        background-image: linear-gradient(
          0deg,
          hsl(17deg 79% 37%) 0%,
          hsl(17deg 84% 33%) 18%,
          hsl(7deg 77% 26%) 27%,
          hsl(360deg 76% 19%) 36%,
          hsl(1deg 70% 14%) 49%,
          hsl(0deg 38% 3%) 89%
        );
        .outerBorder {
          .innerBorder {
            .topInfoMain {
              position: relative;
              h1 {
                font-family: "Monument Extended", "Poppins";
                text-align: center;
              }
              .numValueMain {
                font-size: 6rem;
                background-image: linear-gradient(
                  180deg,
                  hsl(17deg 79% 37%) 0%,
                  hsl(17deg 84% 33%) 18%,
                  hsl(7deg 77% 26%) 27%,
                  hsl(360deg 76% 19%) 36%,
                  hsla(0, 39%, 15%, 0.655) 49%,
                  hsla(0, 0%, 29%, 0.043) 79%
                );
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
              }
              .stringValue {
                opacity: 0.6;
                font-size: 1.8rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 0%);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 468px) {
  .rewardsSection {
    margin: 2rem 24px;
    .header {
      .bg-title-stoked {
        opacity: 0;
      }
    }
    .rewardCardsContainer {
      .cards {
        display: grid;
        width: 100%;
        margin-top: 1.5rem;
        .card {
          margin: 0.1rem auto;
          width: 90%;
          height: 400px;
        }
        .cardMain {
          position: relative;
          top: 0;
          order: -1;
          transform: translateY(0);
        }
      }
    }
  }
}
