.details {
  height: 0;
  height: auto;
  width: 100%;
  overflow: hidden;
  transition: all 0.1s ease-in;
  opacity: 0;
  display: none;

  .DropDown_headline {
    // font-family: 'Open Sans', sans-serif;
    font-family: "Poppins", sans-serif;
  }

  .about {
    h4 {
      font-size: 1.1rem;
      font-weight: 200;

      span {
        font-size: inherit;
      }
    }

    .btn {
      gap: 1.2rem;

      .spawnBtn {
        width: 100px;
        padding: 5px 1rem;
        border: 1.4px solid #f79308b6;
        // background-color: aqua;
        border-radius: 6px;

        &:hover {}

        svg {
          width: 1.3rem;
        }
      }

      .timer_section {
        width: 100px;
        font-family: "Monument Extended";
      }
    }
  }

  .instruction {
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      padding-bottom: 1rem;
    }

    .attachBtn {
      padding: 8px 3rem;
      font-size: 1rem;
      border-radius: 10px;
      font-weight: 600;
      background: #65e065aa;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
      // box-shadow: inset 0px -2px 5px 3px #000000c4;
      transition: all 0.2s ease-in;
      // color: black;
      // border: 1px solid #4f4f4f;

      span {
        transition: transform 0.2s ease-in;
      }

      svg {
        width: 1.4rem;
        margin-right: 5px;
        fill: white;
      }

      &:hover {
        span {
          transform: scale(0.9);
        }
      }
    }

    .spawn {
      padding: 8px 0.7rem;
      border-radius: 10px;
      font-weight: 600;
      margin: 1rem 0;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      background: #111c1e;
      box-shadow: inset 0px 0px 5px 3px rgba(78, 78, 78, 0.63);
      transition: all 0.2s ease-in;
      height: 2.5rem;

      &:hover {
        .connection_string {
          scale: 1.03;
        }
      }

      svg {
        width: 2.4rem;

        display: inline;
        background: #e1e1e158;
        padding: 2px 0.5rem;
        border-radius: 5px;
      }

      .connection_string {
        margin-left: 5px;
        padding: 1px 10px;
        font-size: 1rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        min-width: 11rem;
        cursor: pointer;
      }
    }
  }

  .textarea {
    h1 {
      font-size: 1.6rem;
      text-transform: capitalize;
      font-family: "Poppins";
      margin-bottom: 1rem;
      font-weight: 600;
    }

    form {

      .submitSectionContainer {
        label {
          padding: 0;

          .ans {
            padding: 0.5rem 1rem;
            font-family: "Roboto", sans-serif;
            font-size: 1.2rem;
            width: calc(100% - 1rem);
            resize: none;
            color: black;
            border-radius: 10px;
            outline: none;
            // height: calc(125% - 1rem);
          }
        }

        .submit_btn {
          border: none;
          padding: 6px 1rem;
          border-radius: 10px;
          cursor: pointer;
          background: #65e065aa;
          width: 8rem;

          svg {
            width: 1.4rem;
            margin-right: 5px;
            display: inline;
          }

          // &:hover {
          //     svg {
          //         scale: 1.01;
          //     }
          // }
        }
      }
    }
  }
}