.bg_text {
    font-size: 10rem;
    position: absolute;
    z-index: -2;
    font-weight: 700;
    font-family: "Chakra Petch", sans-serif;
    rotate: -10deg;
    text-align: center;
    // color: #779f994f;
    color: transparent;
    background: linear-gradient(#779f9984 , rgba(0, 0, 0, 0) 86%);
    background-clip: text;
    translate: 1 -6rem;
    filter: blur(1px);
    opacity: .4;
}


.rankTable {
    .horizon {
        height: 1px;
        width: 100%;
        background: linear-gradient(90deg, rgba(164, 164, 164, 0) 0%, rgba(99, 110, 104, 0.86) 50%, rgba(167, 169, 170, 0) 100%);
    }
}