div.mainUser_div {
  align-items: center;
  margin-top: 1.5rem;
  scale: 1;
  font-family: "Monument Extended";

  .hunger {
    width: 12rem;
    border-bottom: 21px solid black;
    border-right: 28px solid #0000;
    border-left: 26px solid transparent;
  }

  .card_upper_part {
    width: 20rem;
    border: 6px solid #071012;

    aspect-ratio: 0.9;
    border-radius: 6%;
    transition: box-shadow 0.2s ease-in-out;
    background: #ffffff12;

    &:hover {


      .card_inner_part {
        .user_details {
          .score {
            svg {
              transform: rotateY(360deg);
              scale: 1.3;
            }
          }

          h2 {

            scale: 1.01;
          }

          .box {
            color: #7bffc8;
          }
        }
      }
    }

    .card_inner_part {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px) saturate(2) brightness(110%);
      border-radius: 16px;
      overflow: hidden;
      background: linear-gradient(rgba(0, 0, 0, 0.139), rgba(0, 0, 0, 0.879));

      filter: invert(0);
      border: 1px solid rgba(255, 255, 255, 0.166);

      &::after {
        content: "";
        position: absolute;
        background-image: url(/src/assets/gallery-images/grid-lines-02.svg);
        opacity: 0.4;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        box-shadow: 9px 7px 9px 4px rgb(255 255 255 / 41%);
      }

      .bg {
        background: hsl(173, 100%, 72%);

        background-color: radial-gradient(at 27% 37%,
            #3a8bfd 0,
            transparent 50%),
          radial-gradient(at 97% 21%, rgba(151, 113, 254, 0.99) 0, transparent 50%),
          radial-gradient(at 52% 99%, rgba(253, 58, 77, 0.99) 0, transparent 50%),
          radial-gradient(at 10% 29%, rgba(90, 252, 125, 0.99) 0, transparent 50%),
          radial-gradient(at 97% 96%, rgba(228, 199, 149, 0.99) 0, transparent 50%),
          radial-gradient(at 33% 50%, rgba(140, 168, 232, 0.99) 0, transparent 50%),
          radial-gradient(at 79% 53%, rgba(238, 165, 186, 0.99) 0, transparent 50%);
        animation: anime 8s infinite;

        h1 {
          font-size: 3rem;
          color: #ffffffb2;
          width: 100%;
          height: 100%;

          text-align: right;
          top: -10%;
        }
      }

      h1.card_user-rank {
        width: 100%;
        height: 100%;
        padding: 0 1rem;
        position: absolute;
        top: 0;
        text-align: right;
        color: rgba(255, 255, 255, 0.55);
        font-size: 3.6rem;
        font-style: italic;
        font-family: "Redressed", "Poppins", sans-serif;

        sup {
          margin-left: 5px;
          font-size: 60%;
          top: -0.7em;
        }
      }

      .hexagon {
        translate: 1rem -4.8rem;
        position: absolute;

        h1 {
          position: absolute;
          font-family: "SeldomScene", "Poppins", sans-serif;
          top: 2.69rem;
          left: 2.532rem;
          z-index: 1;
          font-size: 2.4rem;
          padding: 5px 10px;
        }

        svg {
          width: 9rem;
          height: auto;
          transform: rotate(90deg);


          polygon {
            stroke: #142325;
            fill: rgba(11, 57, 62, 0.99);

          }
        }
      }

      .user_details {
        padding-left: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem auto;

        .score {
          display: inline-block;
          padding: 3px 13px;
          position: absolute;
          right: 0;
          translate: 0 -21px;
          margin-right: 10px;
          border-radius: 5px;
          background: #0f3634c8;
          color: rgb(255, 255, 255);
          border: 1px solid rgba(255, 255, 255, 0.507);
          transition: all 0.2s ease-in;
          font-family: "Monument Extended";

          svg {
            fill: white;
            width: 1rem;
            margin-right: 3px;
            display: inline;
            transition: transform 0.3s ease-in-out;
          }
        }

        h2 {
          margin-top: 2.5rem;
          font-size: 1.55rem;
          transition: all 0.5s ease-in;
        }

        .box {
          justify-content: space-evenly;
          padding-right: 1.6rem;
          transition: all 0.2s ease-in;
          margin-top: 0.5rem;

          .vertical_line {
            rotate: 90deg;

            hr {
              width: 26px;
              border: none;
              border-top: 2px solid rgba(209, 206, 206, 0.57);
            }
          }

          .box_item {
            font-size: 1.3rem;
            font-weight: 700;

            p {
              font-size: 0.8rem;
              color: #737373;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@keyframes anime {
  0% {
    filter: hue-rotate(0deg) blur(32px) brightness(100%);
  }

  50% {
    filter: hue-rotate(360deg) blur(48px) brightness(90%);
  }

  100% {
    filter: hue-rotate(0deg) blur(32px) brightness(100%);
  }
}