.btnInlineBlock{
    display: block;
    color: #58585A;
    margin-bottom: .7rem;
    &:hover{
        color: #41c780c1;
    }
}
.footerBtnTitle{
    font-size: 1.2rem;
    font-weight: 500;
    color: #41C77F;
    margin-bottom: 1rem;
}
.footerSection{
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: #1d1c21;
    max-width: 80%;
    border-radius: 16px;
    color: white;
    font-family: "Arame" , "Poppins", sans-serif;
    .footerContainer{
        display: flex;
        gap: 1rem;
        .footerLogoContainer{
            width: 50%;
            

            .logoFooter{
                width: 100%;
                margin-bottom: 1rem;
                h1{
                    font-size: 48px;
                    text-transform: uppercase;
                }
                h2{
                    font-size: 32px;
                    color: #58585A;
                }
            }
            .emailingSection{
                input{
                    width: 100%;
                    padding: 0.7rem 0.5rem;
                    border-radius: 8px;
                    background-color: #357f555f;
                    border:2px solid #41C77F;
                    color: #41C77F;
                    margin-bottom: 0.5rem;
                    font-size: 24px;
                    &::placeholder{
                        color: #41C77F;
                        font-weight: 500;
                    }
                }
                button{
                    width: 100%;
                    padding: 0.8rem 0.5rem;
                    border-radius: 8px;
                    border: 1px solid black;
                    background-color: #41C77F;
                    color: rgb(0, 0, 0);
                    margin-bottom: 0.5rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-family: "Arame" , "Poppins", sans-serif;
                    &:hover{
                        background-color: #41C77F;
                        color: rgb(0, 0, 0);
                    }
                }
            }
        }
        .footerBtnContainer{
            display: flex;
            width: 50%;
            justify-content: space-evenly;
            padding: 2rem 0;
        }
    }
    .footerSocialLinkContainer{
        width: 250px;
        // border: 1px solid green;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem auto;
    }
}

@media  (max-width : 860px)  {
    .footerSection{
        max-width: 90%;
        padding: 1rem 1rem;

        .footerContainer{
            flex-direction: column;
            .footerLogoContainer{
                width: 100%;
                .logoFooter{
                    h1{
                        font-size: 8vw;
                    }
                    h2{
                        font-size: 6vw;
                        color: #58585A;
                    }
                }
                .emailingSection{
                    input{
                        font-size: 16px;
                    }
                    button{
                        font-size: 16px;
                    }
                }
            }
            .footerBtnContainer{
                width: 100%;
                justify-content: space-evenly;
                padding: .7rem 0;
                justify-content: space-between;
            }
        }
    }
}