.card_case {
    border: 1px solid rgba(187, 188, 188, 0.367);
    border-radius: 10px;
    width: min(80%, 933px);
    aspect-ratio: 2/1.2;
    margin-top: 5rem;
    justify-content: space-between;

    .page_details {
        width: 45%;
        background: url('../../assets/login_bg.webp') no-repeat;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 1.4rem;

        background-size: contain;
        background-position: center;

        backdrop-filter: saturate(1);
    }
}

@media (max-width : 470px) {
    .loginContainer {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .card_case {
            border: none;
            display: block;
            width: 100%;

            .page_details {
                margin: 0;
                padding: 0;
                width: 100vw;
                position: absolute;
                top: 0;
                left: 0;

                height: 100vh;
                background-size: contain;
                mask-image: linear-gradient(transparent, black 31%);
                mask-repeat: no-repeat;
                mask-size: cover;
            }

            .page_input {
                position: absolute;
                width: 84%;
                height: 400px;
                left: 8%;
                bottom: 4%;
                z-index: 1;
                background-color: rgba(65, 65, 65, 0.2);
                backdrop-filter: blur(16px);
                border-radius: 1.5rem;
                border: 1px solid rgba(255, 255, 255, 0.104);
            }

        }
    }
}