.card_case {
    border: 1px solid rgba(187, 188, 188, 0.367);
    border-radius: 10px;
    // background: #a1a7a21f;
    // background: linear-gradient(290deg, rgba(3, 168, 170, 0.9019607843), transparent 58%);
    // backdrop-filter: blur(5px) saturate(5);
    // max-width: 60%;
    // min-height: 63vh;
    // width: min(90% , 933);
    width: 933px;
    aspect-ratio: 2/1.2 ;
    margin-top: 5rem;
    justify-content: space-between;
    .page_details {
        width: 45%;
        background: url('../../assets/frddd2.png') no-repeat;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 1.4rem;
        // background: no-repeat;
        background-size: contain;
        background-position: center;
        filter: drop-shadow(0px 7px 23px rgba(47, 133, 90, 0.7215686275));
        backdrop-filter: saturate(1);
    }

    // .page_input {
    //     width: 50%;
    //     background: linear-gradient(82deg, #03a8aae6, transparent 95%);
    // }
}

@media (max-width : 460px){
    .card_case{
        margin: auto 15px ;
        flex-direction: column;
        width: 100%;
        height: auto;   
        .page_details{
            width: 100%;
            aspect-ratio: 1;
        }
        .page_input{
            // border: 1px solid white;
            margin-top: 1.2rem;
            margin-bottom: 2.2rem;

        }

    }
}
