.flag_row {

    padding: 0.7rem 1rem;

    // Old style
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(52, 89, 44, 0.03) 19%, rgba(34, 84, 34, 0.56) 40%, rgba(23, 205, 27, 0.02) 96%);


    // New Style
    background: linear-gradient(90deg, rgba(91, 96, 90, 0.15) 19%, rgba(20, 47, 39, 0.38) 40%, rgba(77, 79, 77, 0.16) 96%);
    border-radius: 5px;
    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.4117647059);
    margin: 1rem 0;
    backdrop-filter: blur(30px);


    &:hover {
        background: rgba(25, 54, 46, 0.35);

        .flag_btn {
            box-shadow: inset 0 0 7px 2px black;
        }
    }


    .flag_name {
        span {
            margin-right: 10px;
            font-size: 1.4rem;
            font-weight: 500;
            color: #c3c2c2d1;
        }

        font-family: 'Poppins',
        sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
    }


    .flag_type {
        padding-left: 15px;
        color: #b9b9b9c2;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }

    .flag_difficulty {
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    .flag_btn {
        border-radius: 10px;
        padding: 6px 1rem;
        background: #0cda05;
        color: black;
        font-weight: 600;

        &:hover {
            box-shadow: inset 0 0 7px 2px black;
        }

        svg {
            width: 2rem;
            fill: black;
        }
    }
}

.horizon {
    margin: 1rem 0;
    height: 1px;
    width: 80%;
    background: linear-gradient(90deg, rgba(164, 164, 164, 0) 0%, rgba(163, 171, 170, 0.86) 50%, rgba(167, 169, 170, 0) 100%);
}