.page_header {
    padding-top: 1rem;
    padding-bottom: 2rem;

    h1 {
        font-size: 3.8rem;
        font-weight: bolder;
        padding-bottom: 0.5rem;
        color: #78F251;
        text-shadow: 2px 4px 13px #469236;
        font-family: 'Kanit', sans-serif;
    }

    h4 {
        color: #618855;
    }
}

.sorting {

    .active_sort {
        background: #62ff62c4;
        color: black;
        font-weight: 600;
        box-shadow: inset 0 0 7px 4px #000000ab !important;

        &:hover {
            color: black !important;
            font-weight: 600
        }

        svg {
            path {
                fill: black;
            }
        }
    }

    .sort_btn {
        box-shadow: inset 0 0 4px 1px #04ff04;
        padding: 5px 1rem;
        margin: 0 0.5rem;
        border-radius: 20px;
        transition: all 0.2s ease-in-out;


        svg {
            width: 1.1rem;
            display: inline;
        }

        &:hover {
            // background: #62ff62c4;
            // color: black;
            // font-weight: 600;
            // box-shadow: inset 0 0 7px 4px #000000ab;
            font-weight: 500;
            color: #a2fde3;

            svg {
                path {
                    fill: #a2fde3;
                }
            }
        }
    }
}